<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loop 2 - Challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<header class="header">
    <div class="header__top">
        <div class="center header-center">
            <div class="linkedin-cont">
                <div class="linkedin-wr">
                    <svg enable-background="new 0 0 28 28" height="28px" id="Layer_1" version="1.0" viewBox="0 0 28 28"
                         width="28px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"><g>
                            <path d="M32,30c0,1.104-0.896,2-2,2H2c-1.104,0-2-0.896-2-2V2c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2V30z"
                                  fill="#007BB5"/>
                            <g>
                                <rect fill="#FFFFFF" height="14" width="4" x="7" y="11"/>
                                <path d="M20.499,11c-2.791,0-3.271,1.018-3.499,2v-2h-4v14h4v-8c0-1.297,0.703-2,2-2c1.266,0,2,0.688,2,2v8h4v-7    C25,14,24.479,11,20.499,11z"
                                      fill="#FFFFFF"/>
                                <circle cx="9" cy="8" fill="#FFFFFF" r="2"/>
                            </g>
                        </g>
                        <g/>
                        <g/>
                        <g/>
                        <g/>
                        <g/>
                        <g/></svg>
                </div>
            </div>
            <!-- END LINKEDIN-CONT -->
            <div class="search-cont">
                <div class="search-wr">
                    <input class="search" type="text" placeholder="Search">
                </div>
            </div>
            <!-- END SEARCH-CONT -->
            <nav class="nav">
                <ul class="nav__ul">
                    <li class="nav__list-item">
                        <a href="">Home</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="">Profile</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="">Connections</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="">Interest</a>
                    </li>
                    <li class="nav__list-item red">
                        <a href="">Try Premium</a>
                    </li>
                </ul>
            </nav>
            <div class="social">
                <ul class="social_ul">
                    <li><a href="" class="first-a"></a></li>
                    <li><a href="" class="second-a"></a></li>
                    <li><a href="" class="third-a"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL -->
            <div class="avatar-cont">
                <div class="avatar-wr">
                    <img src="./static/img/avatar.jpg" alt="">
                </div>
            </div>
            <!-- END AVATAR-CONT -->
        </div>
        <!-- END CENTER -->
    </div>
    <!-- END HEADDER TOP -->
    <div class="header-bot">
        <div class="center">
            <ul class="bot-nav">
                <li><a href="">Posts</a></li>
                <li><a href="">Background</a></li>
                <li><a href="">Recomendations</a></li>
                <li><a href="">Fillowing</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="center content">
    <aside class="person">
        <div class="wr-bill margin">
            <img class="bill" src="./static/img/bill-gates-avatar.png" alt="">
        </div>
        <span class="person__name">Bill Gates</span>
        <span class="person__position">Microsoft Founder</span>
        <span class="person__area">Greater Seattle Area</span>
        <button class="button first-button">Follow</button>
        <button class="button second-button">Connect</button>
        <div class="aside-bot-wr">
            <div class="bot-wr__left">
                <span class="bot-wr__number">200</span>
                <span class="bot-wr__string">connection</span>
            </div>
            <div class="bot-wr__right">
                <span class="bot-wr__number">1.9M</span>
                <span class="bot-wr__string">followers</span>
            </div>
        </div>
        <div class="link-wr">
            <div class="line-wr">
                <a class="link linkedin">linkedin.com/in/billgates</a>

            </div>
            <div class="line-wr">
                <a class="link site">billgates.com</a>
            </div>
        </div>
        <div class="export-wr">
            <span class="link export">Export page as PDF</span>
        </div>
    </aside>
    <section class="center-center">
        <div class="slider">
            <div class="slider-title-wr">
                <div class="align-center">
                    <span class="slider-title title">Posts</span>
                    <div class="arrow-wr">
                        <div class="arrow arrow-left"></div>
                        <div class="arrow arrow-right"></div>
                    </div>
                </div>
            </div>
            <div class="slider-atticle-wr">
                <div class="align-center">
                    <div class="article-wr">
                        <img src="./static/img/article1.jpg" alt="">
                        <span class="article-title">
                        3 Myth That Confuse Top-Managers
                        </span>
                        <span class="article-date">
                        February 19, 2016
                         </span>
                    </div>
                    <div class="article-wr">
                        <img src="./static/img/article2.jpg" alt="">
                        <span class="article-title">
                        How much do we spend on hot drinks
                        </span>
                        <span class="article-date">
                        February 19, 2016
                        </span>
                    </div>
                    <div class="article-wr">
                        <img src="./static/img/article3.jpg" alt="">
                        <span class="article-title">
                        Good news you might have noticed
                        </span>
                        <span class="article-date">
                        February 19, 2016
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--End div SLIDER-->
        <div class="background">
            <div class="background-title-wr">
                <div class="align-center">
                    <span class="title">Background</span>
                </div>
            </div>
            <div class="backgroun-content">
                <div class="align-center">
                    <span class="background-title bg-summary">Summary</span>
                    <p class="summary-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at atque dignissimos dolores
                        exercitationem, minus molestiae numquam optio repellat repudiandae, sed sunt vel? Aspernatur
                        earum id laboriosam sunt tempore, voluptatibus.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio dolores excepturi
                        fuga fugit maiores modi mollitia, nihil, nulla omnis perferendis perspiciatis praesentium
                    </p>

                    <span class="background-title bg-experience">Experience</span>
                    <div class="block microsoft">
                        <span class="one">2000 - Present</span>
                        <span class="two line">
                            Co-founder, Chairman
                        </span>
                        <span class="three">
                            Microsoft
                        </span>
                    </div>
                    <div class="block youtube">
                        <span class="one">
                            1992 - 1999
                        </span>
                        <span class="two">
                            Senior Developer
                        </span>
                        <span class="three">
                            Youtube
                        </span>
                    </div>
                    <span class="background-title bg-education">Education</span>
                    <div class="block">
                        <span class="one">1973 - 1975</span>
                        <span class="two line">
                            Harvard Univercity
                        </span>
                        <span class="three">
                            BS Computer Science
                        </span>
                    </div>
                    <div class="block">
                        <span class="one">
                            1960 - 1973
                        </span>
                        <span class="two">
                            Lakeside School, Seattle
                        </span>

                    </div>
                    <span class="background-title bg-skills">Skills</span>
                    <div class="line-conteiner">
                        <span class="span span-one">Social Media Marketing</span>
                        <div class="flex-cont">
                            <div class="av-wr">
                                <img src="./static/img/avatar.jpg" alt="">
                            </div>
                            <div class="av-wr">
                                <img src="./static/img/avatar2.jpg" alt="">
                            </div>
                            <div class="av-wr">
                                <img src="./static/img/avatar3.jpg" alt="">
                            </div>
                            <div class="av-wr av-n">
                                <span class="av-number">17+</span>
                            </div>
                        </div>
                    </div>
                    <div class="line-conteiner">
                        <span class="span span-two">Web Development</span>
                        <div class="flex-cont">
                            <div class="av-wr">
                                <img src="./static/img/avatar.jpg" alt="">
                            </div>
                            <div class="av-wr">
                                <img src="./static/img/avatar2.jpg" alt="">
                            </div>
                            <div class="av-wr">
                                <img src="./static/img/avatar3.jpg" alt="">
                            </div>
                            <div class="av-wr av-n">
                                <span class="av-number">71+</span>
                            </div>
                        </div>
                    </div>
                    <span class="background-title bg-interests">Interests</span>
                    <ul class="list">
                        <li class="list-item">Wireless Industry</li>
                        <li class="list-item">Photography</li>
                        <li class="list-item">Web design</li>
                        <li class="list-item">Technology</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End div BACKGROUND-->
        <div class="recomendation">
            <div class="slider-title-wr">
                <div class="align-center">
                    <span class="slider-title title">Recomendation</span>
                    <div class="arrow-wr">
                        <div class="arrow arrow-left"></div>
                        <div class="arrow arrow-right"></div>
                    </div>
                </div>
            </div>
            <div class="recomendation-article-wr">
                <div class="recomendation-article-column">
                    <div class="p-wr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui quisquam rerum. Autem
                            doloribus eos esse itaque
                        </p>
                    </div>
                    <div class="auth-wr">
                        <img src="./static/img/avatar.jpg" alt="">
                        <div class="auth-line">
                            <span class="auth-top">Steve Jobs</span>
                            <span class="auth-bot">Apple</span>
                        </div>
                    </div>
                </div>
                <div class="recomendation-article-column">
                    <div class="p-wr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque consectetur eaque
                            fugit, id impedit iure repellendus.
                        </p>
                    </div>
                    <div class="auth-wr">
                        <img src="./static/img/avatar2.jpg" alt="">
                        <div class="auth-line">
                            <span class="auth-top">Mark Zuckerberg</span>
                            <span class="auth-bot">Facebook</span>
                        </div>
                    </div>
                </div>
                <div class="recomendation-article-column">
                    <div class="p-wr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias autem dicta dolore
                            doloribus dolorum eius error
                        </p>
                    </div>
                    <div class="auth-wr">
                        <img src="./static/img/avatar3.jpg" alt="">
                        <div class="auth-line">
                            <span class="auth-top">Jeffrey Bezos</span>
                            <span class="auth-bot">Amazon</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End div BACKGROUND-->
        <div class="following">
            <div class="background-title-wr">
                <div class="align-center">
                    <span class="title">Following</span>
                </div>
            </div>
            <div class="following-wr">
                <div class="following-col">
                    <div class="brend-wr bg-micr"></div>
                    <span class="brend-title">
                        Microsoft
                    </span>
                    <span class="brend-follow">Follow</span>
                </div>
                <div class="following-col ">
                    <div class="brend-wr bg-amazon"></div>
                    <span class="brend-title">
                        Amazon
                    </span>
                    <span class="brend-follow">Follow</span>
                </div>
                <div class="following-col">
                    <div class="brend-wr bg-micr"></div>
                    <span class="brend-title">
                        Microsoft
                    </span>
                    <span class="brend-follow">Follow</span>
                </div>
                <div class="following-col ">
                    <div class="brend-wr bg-amazon"></div>
                    <span class="brend-title">
                        Amazon
                    </span>
                    <span class="brend-follow">Follow</span>
                </div>
            </div>
            <button class="button-bot">See all (20)</button>
        </div>
    </section>
    <aside class="right">
        <span class="right-title">
            People also viewed
        </span>
        <div class="auth-wr">
            <img src="./static/img/avatar.jpg" alt="">
            <div class="auth-line">
                <span class="auth-top">Steve Jobs</span>
                <span class="auth-bot">Apple</span>
            </div>
        </div>
        <div class="auth-wr">
            <img src="./static/img/avatar2.jpg" alt="">
            <div class="auth-line">
                <span class="auth-top">Sergey Brin</span>
                <span class="auth-bot">Google</span>
            </div>
        </div>
        <div class="auth-wr mb">
            <img src="./static/img/avatar3.jpg" alt="">
            <div class="auth-line">
                <span class="auth-top">Jeffrey Bezos</span>
                <span class="auth-bot">Amazon</span>
            </div>
        </div>
        <span class="right-title">More Influencers</span>
        <div class="bot-cont">
            <div class="wrapper">
                <img src="./static/img/avatar3.jpg" alt="">
            </div>
            <span class="name">
                Steve Jobs
            </span>
            <span class="firm">
                Apple
            </span></div>
    </aside>
</section>
<footer class="footer">
    <span class="f-span">LinkedIn Corporation &#169 2014</span>
</footer>
</body>
</html>


<!--
  Ah, it smells like a new challenge!

  This time we build a concept of some job search website.
  It's more about small details this time and if you haven't yet tried splitting
  your css into separate component files - that's the perfect time to try.
  (Use @import in css to achieve that)

  The other gimmick we introduce here is about using font icons instead of inserting images into our code.
  The easiest out-of-the-box method is to use Google Material Icons,
  so read about the implementation before you start:
  https://material.io/icons/

  And good luck!
-->
























